@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to dependency injection Example by S.R</h1>
<p>
            
            <br />  
            <b>IGTransient :</b>
            @ViewBag.Transient.Greeting <br>
            <b> IGScoped :</b>
            @ViewBag.Scoped.Greeting <br>
            <b>IGSingleton :</b>
            @ViewBag.Singleton.Greeting <br />
            <b> IGSingletonInstance :</b>
            @ViewBag.SingletonInstance.Greeting 
</p>
</div>
